/* HOME */

.home-button-div{
text-align: center;
}

button.favorite.styled {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}

.category-btn {
  background-color: #222;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-btn:hover {
  background-color: white;
  color: #222;
}

#home-title{
  text-align:center; 
  font-size:2rem; 
  background-color: rgb(191,19,51);
  color: white;
}

.model_serie:hover {
  transform: scale(1.05);
  background-color: white;
  border: solid 1px grey;
  color: black;
  cursor: pointer;
}

.model_serie {
  background: #222;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}

.model_serie img {
  width: auto;
  height: 350px;
  border-radius: 10px;
}

.model_serie h2 {
  margin: 1rem 0 0.5rem 0;
  font-size: 15px;
}

.model_serie span {
  font-size: 1.4rem;
  color: #aaa;
}

.series-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 5px;
}



/* PAGE RESULT_SEARCH */

.search-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #111;
  padding: 2rem;
  border-radius: 10px;
  width: 25rem;
  margin: 2rem auto;
  color: #fff;
}

.form-group {
display: flex;
flex-direction: column;
}

.form-group label {
margin-bottom: 0.5rem;
font-weight: bold;
}

.form-group input {
padding: 0.8rem;
border: none;
border-radius: 5px;
font-size: 1.4rem;
}

.form-group input:focus {
outline: 2px solid #f00;
}